@page "/users"

<section id="">
    <div class="container">
        <p>Текущее время: @CurrentTime</p>
        <p>Текущая дата: @CurrentDate</p>

        <h1>Пользователи</h1>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Birthdate</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in result)
                {
                    <tr>
                        <th scope="row">@user.userid</th>
                        <td>@user.name</td>
                        <td>@user.surname</td>
                        <td>@user.avatar</td>
                        <td>@user.email</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>


@code {
    string CurrentDate;
    string CurrentTime;
    public User[]? result = new User[] { };

    protected override async Task OnInitializedAsync()
    {
        var date = DateTime.Now;
        CurrentDate = date.ToShortDateString();
        CurrentTime = date.ToShortTimeString();
        var client = new HttpClient();
        client.BaseAddress = new Uri("http://localhost:5000/");
        result = await client.GetFromJsonAsync<User[]>("api/User");

    }




    public class User
    {
        public int userid { get; set; }
        public string? avatar { get; set; }
        public string name { get; set; }
        public string surname { get; set; }
        public string? patronymic { get; set; }
        public string email { get; set; }
        public string telephonnumber { get; set; }
        public string passwordhash { get; set; }
        public string role { get; set; }
        public bool? isactive { get; set; }
        public DateTime? createdat { get; set; }
    }
}